button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    display: inline-block;
    margin: 5px;
}
#key1{
    padding-left: 26px;
}
#key2{
    padding-left: 40px;
}
#key3{
    padding-left: 0px;
}
#key4{
    padding-left: 13px;
}